*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1440px;
    font-size: 15px;
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#container {
    display: flex;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
    align-items: center;
    height: 100vh;
    
}
.container {
    display: flex;
    border-radius: 20px;
    width: 1000px;
    height: 310px;
    color: hsl(0, 0%, 100%)
}
.container-text {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 40px;
    border-radius: 20px 0px 0px 20px;
    
}
.container-text span {
    color: hsl(277, 64%, 61%);
}
.container-text h1 {
    word-spacing: 0.5rem;
    padding-bottom: 20px;
    
    
}
.container-text p, table td {
    color:  hsla(0, 0%, 100%, 0.6);
}
.container-text p {
    padding-bottom: 40px;
}


.image-header  {
    
    
    width: 500px;
    

}
.image-header img {
    width: 500px;
    height: 307px;
    border-radius: 0px 20px 20px 0px ;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(600deg) saturate(600%) contrast(0.8);
    
}
.container-text table tr th {
    text-align: left;
    font-size: 1.3rem;
    
}
.container-text table tr td {
    text-transform: uppercase;
    padding-top: 5px;
}
.tdOne {
    display: none;
}
@media (max-width: 375px) {

    body {
        width: 375px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        font-size: 10px;
    }
    #container {
        margin-left: 0px;
        width: 335px;
    }
    .container {
        flex-direction: column;
        align-items: center;  
    }
 
    .image-header {
        width: 315px;
        align-items: center;
        order: 1;
    }
    .container-text {
        order: 2;
        position: absolute; 
        top: 270px;
        width: 215px;
        border-radius: 0px;
        
           
    }
    .image-header img {
        width: 310px;
        transform: scale(68%) translate(2px,-76%);
        
        border-radius: 0px ;
    }
    .container-text h1, p, table tr td {
        text-align: center;
    }
    .container-text h1 {
        font-size: 0.9rem;
    }
    .container-text p {
        font-size: 0.5rem;
    }
    .container-text  table tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tdOne {
        display: flex;
    }
    .container-text table td:nth-child(1) {
        display: none;
        
    }
    .container-text table td:nth-child(3) {
        display: none;
        
    }
    .template {
        display: none;
    }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
